#header, #creditos{
	font-family: Roboto, sans-serif;
	background-color: black;
	color: white;

}

#cheklist{
	font-family: Roboto, sans-serif;
	display: block;
	padding: 20px;
	box-sizing: border-box;
	font-weight: 300;
}

#registerChecklist label{
	font-size: 1em;
	font-weight: 200;
	padding-top: 12px;
	display: block;
}

#registerChecklist input{
	width: 100%;
	font-size: 18px;
	font-weight: 200;
	padding: 10px;
	box-sizing: border-box;
}

@media (min-width: 600px) {
#cheklist{
	padding: 20px;
	box-sizing: border-box;
	font-weight: 300;
}
}